<div class="grid">
    <div class="grid-item grid-item-width-1 grid-item-height-1">
        <a href="/event/?id={{data[0].event_id}}">
            <div class="cm_container">
                <img src="img/{{data[0].event_category}}.jpg">
                <div class="cm_caption">
                    <h3>{{data[0].event_name}}</h3>
                    <p class="cm_category">{{ data[0].event_description | limitTo : 70 : begin}}</p>
                </div>
            </div>
        </a>
    </div>

    <div class="grid-item grid-item-width-1 grid-item-height-1">
        <a href="/event/?id={{data[1].event_id}}">
            <div class="cm_container">
                <img src="img/{{data[1].event_category}}.jpg">
                <div class="cm_caption">
                    <h3>{{data[1].event_name}}</h3>
                    <p class="cm_category">{{ data[1].event_description | limitTo : 70 : begin}}</p>
                </div>
            </div>
        </a>
    </div>

    <div class="grid-item grid-item-width-2 grid-item-height-2">
        <a href="/event/?id={{data[2].event_id}}">
            <div class="cm_container">
                <img src="img/{{data[2].event_category}}.jpg">
                <div class="cm_caption">
                    <h3>{{data[2].event_name}}</h3>
                    <p class="cm_category">{{ data[2].event_description | limitTo : 70 : begin}}</p>
                </div>
            </div>
        </a>
    </div>

    <div class="grid-item grid-item-width-1 grid-item-height-2">
        <a href="/event/?id={{data[3].event_id}}">
            <div class="cm_container">
                <img src="img/{{data[3].event_category}}.jpg">
                <div class="cm_caption">
                    <h3>{{data[3].event_name}}</h3>
                    <p class="cm_category">{{ data[3].event_description | limitTo : 70 : begin}}</p>
                </div>
            </div>
        </a>
    </div>

    <div class="grid-item grid-item-width-1 grid-item-height-1">
        <a href="/event/?id={{data[4].event_id}}">
            <div class="cm_container">
                <img src="img/{{data[4].event_category}}.jpg">
                <div class="cm_caption">
                    <h3>{{data[4].event_name}}</h3>
                    <p class="cm_category">{{ data[4].event_description | limitTo : 70 : begin}}</p>
                </div>
            </div>
        </a>
    </div>

    <div class="grid-item grid-item-width-1 grid-item-height-1">
        <a href="/event/?id={{data[5].event_id}}">
            <div class="cm_container">
                <img src="img/{{data[5].event_category}}.jpg">
                <div class="cm_caption">
                    <h3>{{data[5].event_name}}</h3>
                    <p class="cm_category">{{ data[5].event_description | limitTo : 70 : begin}}</p>
                </div>
            </div>
        </a>
    </div>

    <div class="grid-item grid-item-width-1 grid-item-height-1">
        <a href="/event/?id={{data[6].event_id}}">
            <div class="cm_container">
                <img src="img/{{data[6].event_category}}.jpg">
                <div class="cm_caption">
                    <h3>{{data[6].event_name}}</h3>
                    <p class="cm_category">{{ data[6].event_description | limitTo : 70 : begin}}</p>
                </div>
            </div>
        </a>
    </div>

    <div class="grid-item grid-item-width-1 grid-item-height-1">
        <a href="/event/?id={{data[7].event_id}}">
            <div class="cm_container">
                <img src="img/{{data[7].event_category}}.jpg">
                <div class="cm_caption">
                    <h3>{{data[7].event_name}}</h3>
                    <p class="cm_category">{{ data[7].event_description | limitTo : 70 : begin}}</p>
                </div>
            </div>
        </a>
    </div>
</div>



<script>
    $('.grid').masonry({
        itemSelector: '.grid-item',
        columnWidth: 250
    });
</script>